REMOVE_BG_API_KEY=replace_with_your_remove_bg_api_key
CLOUDFLARE_ACCOUNT_ID=replace_with_your_cloudflare_account_id
GOOGLE_CLIENT_ID=replace_with_your_google_client_id
NEXT_PUBLIC_GOOGLE_CLIENT_ID=replace_with_your_google_client_id
SESSION_SECRET=replace_with_random_session_secret
PAYPAL_ENV=sandbox
PAYPAL_CLIENT_ID=replace_with_your_paypal_client_id
PAYPAL_CLIENT_SECRET=replace_with_your_paypal_client_secret
CREEM_ENV=test
CREEM_API_KEY=replace_with_your_creem_api_key
CREEM_CREATOR_PRODUCT_ID=replace_with_your_creem_creator_product_id
CREEM_PRO_PRODUCT_ID=replace_with_your_creem_pro_product_id
CREEM_WEBHOOK_SECRET=replace_with_your_creem_webhook_secret
SITE_URL=https://remove.services
PAID_CREDIT_VALIDITY_DAYS=90
REMOVE_BG_LOW_BALANCE_THRESHOLD=20
